.educationLabel {
  font-family: Comic;
  font-size: 1.8rem;
}

.photoFrame {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  height: 50vh;
  margin: auto;
}

.photoTitle {
  font-weight: 900;
  height: 30px;
  font-family: "Comic";
  font-size: 2rem;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.photoFrame img {
  border: solid 3px;
  border-radius: 3rem;
  height: 60%;
  width: 80%;
  object-fit: cover;
  float: left;
}
.photoInfo {
  font-family: "Comic";
  font-size: 1.5rem;
  height: 20%;
  margin-top: 10px;
  width: 80%;
  text-align: center;
}

.educationList li {
  font-family: Comic;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 30px;
}

.rightEducationSection {
  margin-right: 4%;
  width: 50%;
}

@media screen and (max-width: 1000px) {
  .educationMain {
    flex-direction: column;
    margin-bottom: 0;
  }
  .leftEducationSection,
  .rightEducationSection {
    margin: auto;
    width: 100%;
  }

  .photoFrame {
    width: 60vh;
  }
}

@media only screen and (max-width: 767px) {
  .educationHeading {
    font-family: "Roboto";
    font-size: 3rem;
    text-align: center;
  }

  .educationMain {
    flex-direction: column;
  }

  .leftEducationSection,
  .rightEducationSection {
    margin: auto;
    width: 95%;
  }

  .educationList li {
    font-family: Comic;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 20px;
  }

  .photoFrame {
    width: 100vw;
    height: 60vh;
  }

  table {
    font-size: 1rem;
    margin: auto;
    width: 95%;
    margin-bottom: 10%;
  }
}
