@font-face {
    font-family: 'Comic';
    src: url('../assets/fonts/ComicNeue-Regular.ttf');
  }

  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf');
}

@font-face {
    font-family: 'BebasNeue';
    src: url('../assets/fonts/BebasNeue-Regular.ttf');
}

@font-face {
    font-family: 'Bruno Ace SC';
    src: url('../assets/fonts/BrunoAce-Regular.ttf');
}

@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf');
}

.previewScreenOne, .previewScreenTwo, .previewScreenThree, .previewScreenFour {
    border-color: #f0f0f0;
    height: 60%;
    background-size: cover;
    background-position: center;
}
.previewScreenOne {
    background-image: url('canYouReadIt.png');
}

.previewScreenTwo {
    background-image: url('inquizitive.png');
}
.previewScreenThree {
    background-image: url('groupPicker.png');
}
.previewScreenFour {
    background-size: 90%;
    background-image: url('comingSoon.gif');
}

.projectsHeader {
    margin-bottom: 80px;
}

.projectsMain {
    background-color: white;
    font-family: Roboto;
    font-size: 2rem;
    margin-top: 100px;
    text-align: center;
}

.projectsTable {
    display: flex;
    flex-wrap: wrap;
    height: 700px;
    margin: auto;
    margin-bottom: 50px;
    width: 100%;
    justify-content: space-evenly;
}

.projectStack {
    height: 20%;
    font-family: Comic;
    font-size: 1.7rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: auto;
}


.projectCont {
    border: solid;
    border-color: #f0f0f0;
    display: flex;
    margin: auto;
    height: 100%;
    width: 45%;
    flex-direction: column;
}

.projectHeaderOne, .projectHeaderTwo, .projectHeaderThreeCont, .projectHeaderFourCont {
    height: 20%;
}

.projectHeaderOne {
    display: flex;
    font-family: BebasNeue;
    align-items: center;
    justify-content: space-between;
    padding-left: 3%;
    background-color: #49426c;
    text-align: center;
}

.iconAndTextOne {
    align-items: center;
    background-color: #49426c;
    color: #ebc88b;
    transition: 0.2s ease-in;
}
.iconAndTextOne:hover {
    color: #9c7e38;
    transition: 0.3s ease-in;
}

.projectOneLink {
    text-decoration: none;
}

.projectOneLabel {
    align-self: flex-start;
    margin-top: -130px;
    position: relative;
    top: -12px;
    font-size: 1.7rem;
}
.projectOneLogo {
    font-size: 3rem;
}
.projectOneInfo {
    color: #ebc88b;
    font-family: Comic;
    font-size: 1.4rem;
    margin-right: 5%;
    width: 50%;
    animation: growAndShrink 5s infinite;
}
.projectOneInfo:hover, .projectTwoInfo:hover {
    animation: none;
    transform: scale(1);
}
@keyframes growAndShrink {
    0% {
      transform: scale(0.8);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.8);
    }
  }

.projectHeaderTwo {
    align-items: center;
    background-color: #F7F4E9;
    color: #E40C2B;
    display: flex;
    font-family: 'Bruno Ace SC', cursive;
    justify-content: space-between;
}
.projectHeaderThreeCont {
    align-items: center;
    display: flex;
    background-color: #fcde67;
    justify-content: space-between;
}
.projectHeaderThree {
    font-size: 40px;
    font-family: "Open Sans";
    font-weight: 500;
    height: 60%;
    color: black;
    margin-left: 15px;
    border-right: 4px solid black;
    animation: cursor infinite, typing 7s infinite steps(16);
    white-space: nowrap;
    overflow: hidden;
}

    @keyframes cursor{
        0%, 100%{border-color: black;}
        50%{border-color: black;}
    }

    @keyframes typing{
        0%{ width: 0ch}
        30%{ width: 11ch;} 
        80%{ width: 11ch;} 
        90%{ width: 0ch;} 
        100%{ width: 0ch;} 
    }

.projectHeaderFourCont {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.projectHeaderFour {
    margin-left: 15px;
}

.inAndItive {
    color: #1d1d2c;
    font-size: 40px;
    transition: 0.2s ease-in;

}
.quizWord {
    color: #E40C2B;
    font-size: 60px;
    transition: 0.2s ease-in;

}
.inquizitiveTitle {
    margin-left: 15px;
}

.inquizitiveTitle:hover .inAndItive {
    color: #E40C2B;
    font-size: 60px;
    transition: 0.3s ease-in;
}
.inquizitiveTitle:hover .quizWord {
    color: #1d1d2c;
    font-size: 40px;
    transition: 0.3s ease-in;
}

.projectTwoLink, .projectThreeLink {
    text-decoration: none;
}
.projectTwoLink:hover {
    color: blue;
    transition: 0.3s ease-in;
}
.projectTwoInfo, .projectThreeInfo, .projectFourInfo {
    font-family: Comic;
    font-size: 1.4rem;
    margin-right: 5%;
    width: 50%;
    animation: growAndShrink 5s infinite;
}


  @media screen and (max-width: 1000px) {
    .projectsTable {
        flex-direction: column;
        flex-wrap: nowrap;
        height: fit-content;
        max-height: fit-content;
    }

}

