
  .sections {
    margin-top: 60px;
  }
  
  .sectionOdd {
    background-color: #f0f0f0;
    height: 800px;
    padding: 20px;
    width: 100%;
  }

  .sectionEven {
    background-color: white;
    height: 600px;
    margin-bottom: 20px;
    padding: 20px;
  }